{% extends 'base.auth.html.twig' %}

{% block title %}Detalles del post
{% endblock %}

{% block content %}


	{# <form method="post">
	    {% if error %}
	        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	    {% endif %}
	
	    {% if app.user %}
	        <div class="mb-3">
	            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
	        </div>
	    {% endif %} 
	
	    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	    <label for="inputEmail">Email</label>
	    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
	    <label for="inputPassword">Password</label>
	    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
	
	    <input type="hidden" name="_csrf_token"
	           value="{{ csrf_token('authenticate') }}"
	    >
	
	    <button class="btn btn-lg btn-primary" type="submit">
	        Sign in
	    </button>
	</form> #}

	<section class="w-full bg-gray-50 mx-auto flex darkkkkk:bg-gray-900">
		<div class="flex flex-col items-center w-full md:w-6/12 justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
			<a
				href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 darkkkkk:text-white">
				{# <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo"> #}
				<p class="text-yellow-500">Blog</p>
			</a>
			<div class="w-full bg-white rounded-lg shadow darkkkkk:border md:mt-0 sm:max-w-md xl:p-0 darkkkkk:bg-gray-800 darkkkkk:border-gray-700">
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl darkkkkk:text-white">
						Sign in to your account
					</h1>
					<form method="post" class="space-y-4 md:space-y-6">
						<div>
							<label for="email" class="block mb-2 text-sm font-medium text-gray-900 darkkkkk:text-white">Your email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 darkkkkk:bg-gray-700 darkkkkk:border-gray-600 darkkkkk:placeholder-gray-400 darkkkkk:text-white darkkkkk:focus:ring-blue-500 darkkkkk:focus:border-blue-500" placeholder="name@company.com" required="">
						</div>
						<div>
							<label for="password" class="block mb-2 text-sm font-medium text-gray-900 darkkkkk:text-white">Password</label>
							<input type="password" name="password" id="inputPassword" placeholder="••••••••" autocomplete="current-password" required class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 darkkkkk:bg-gray-700 darkkkkk:border-gray-600 darkkkkk:placeholder-gray-400 darkkkkk:text-white darkkkkk:focus:ring-blue-500 darkkkkk:focus:border-blue-500" required="">
						</div>
						<div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>
						<button type="submit" class="w-full text-gray-200 bg-slate-800 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center darkkkkk:bg-primary-600 darkkkkk:hover:bg-primary-700 darkkkkk:focus:ring-primary-800">Sign in</button>
						<p class="text-sm font-light text-gray-500 darkkkkk:text-gray-400">
							Don’t have an account yet?
							<a href="{{path('register')}}" class="font-medium text-gray-800 hover:underline darkkkkk:text-primary-500">Sign up</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
