
{% use 'form_div_layout.html.twig' %}

{%- block form_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-6')) }) -%}
    {{- parent() -}}
{%- endblock form_row -%}

{%- block widget_attributes -%}
    {%- set attr = attr|merge({ class: attr.class|default(widget_class|default('mt-1 w-full')) ~ (disabled ? ' ' ~ widget_disabled_class|default('border-gray-300 text-gray-500')) ~ (errors|length ? ' ' ~ widget_errors_class|default('border-red-700')) }) -%}
    {{- parent() -}}
{%- endblock widget_attributes -%}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({ class: label_attr.class|default(label_class|default('block text-gray-800')) }) -%}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block form_help -%}
    {%- set help_attr = help_attr|merge({ class: help_attr.class|default(help_class|default('mt-1 text-gray-600')) }) -%}
    {{- parent() -}}
{%- endblock form_help -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="{{ error_item_class|default('text-red-700') }}">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block choice_widget_expanded -%}
    {%- set attr = attr|merge({ class: attr.class|default('mt-2') }) -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="flex items-center">
                {{- form_widget(child) -}}
                {{- form_label(child, null, { translation_domain: choice_translation_domain }) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block checkbox_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-6')) }) -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}
        <div class="inline-flex items-center">
            {{- form_widget(form, widget_attr) -}}
            {{- form_label(form) -}}
        </div>
        {{- form_help(form) -}}
    </div>
{%- endblock checkbox_row -%}

{# {%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('mr-2') -%}
    {{- parent() -}}
{%- endblock checkbox_widget -%} #}

{%- block radio_widget -%}
    {%- set widget_class = widget_class|default('mr-2') -%}
    {{- parent() -}}
{%- endblock radio_widget -%}

{# -----custom-- #}

{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600') -%}
    {{- parent() -}}
{%- endblock checkbox_widget -%}

{%- block textarea_widget -%}
    {%- set widget_class = widget_class|default('bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-9 p-2.5') -%}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block number_widget -%}
    {%- set widget_class = widget_class|default('bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-9 p-2.5') -%}
    {{- parent() -}}
{%- endblock number_widget -%}

{%- block form_widget_simple -%}
    {%- set widget_class = widget_class|default('bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-9 p-2.5') -%}
    {{- parent() -}}
{%- endblock form_widget_simple -%}

{%- block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('h-9 w-28 tracking-wider bg-green-500 w-55 hover:bg-green-700 text-white text-sm py-1 px-2 rounded') ~ ' btn')|trim}) -%}
    <div class="flex justify-end items-center gap-2">
        {{- parent() -}}
    </div>
{%- endblock button_widget %}





{# 

{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    <div class="flex flex-col gap-2">
       <div class="flex flex-col">
            {{ form_label(form) }}
            {{ form_widget(form) }}
       </div>
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{%- block text_widget -%}
    <input {{ block('widget_attributes') }} class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-9 p-2.5" />
{%- endblock text_widget -%}

{%- block integer_widget -%}
    <input {{ block('widget_attributes') }} value="{{ value }}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-9 p-2.5" />
{%- endblock integer_widget -%}

{%- block textarea_widget -%}
    <textarea {{ block('widget_attributes') }} class="appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{ form.vars.value }}</textarea>
{%- endblock textarea_widget -%}

{%- block button_widget -%}
    <div class="w-full flex justify-end items-center mt-2">
        <button type="{{ type|default('submit') }}" {{ block('button_attributes') }} class="bg-green-500 hover:bg-green-700 text-white text-sm py-1 px-2 rounded">
        <i class="fa-solid fa-plus"></i>
        {{ label|default('Submit') }}
    </button>
    </div>
{%- endblock button_widget -%}

{%- block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
{%- endblock checkbox_widget -%} #}

{# 
{%- block form_label -%}
        <label class="text-gray-900 font-bold text-sm" {{ block('button_attributes') }}>{{ label|default('Custom Label') }}</label>
{%- endblock form_label -%} #}